GospWebApp/Connected Services/ServiceReference1/GospService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GospService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GospService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKiosk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kiosk" nillable="true" type="tns:Kiosk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKiosk" nillable="true" type="tns:ArrayOfKiosk" />
  <xs:complexType name="Kiosk">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdKiosk" type="xs:int" />
      <xs:element minOccurs="0" name="Ide" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Idosn" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Idtexe" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Schetchik" nillable="true" type="tns:Schetchik" />
      <xs:element minOccurs="0" name="Schetchik1" nillable="true" type="tns:Schetchik" />
      <xs:element minOccurs="0" name="Schetchik2" nillable="true" type="tns:ArrayOfSchetchik" />
      <xs:element minOccurs="0" name="arenda" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomer" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kiosk" nillable="true" type="tns:Kiosk" />
  <xs:complexType name="Schetchik">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdK" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdSchetchik" type="xs:int" />
      <xs:element minOccurs="0" name="Kiosk" nillable="true" type="tns:ArrayOfKiosk" />
      <xs:element minOccurs="0" name="Kiosk1" nillable="true" type="tns:ArrayOfKiosk" />
      <xs:element minOccurs="0" name="Kiosk2" nillable="true" type="tns:Kiosk" />
      <xs:element minOccurs="0" name="T1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="T2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ts" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="texuchet" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Schetchik" nillable="true" type="tns:Schetchik" />
  <xs:complexType name="ArrayOfSchetchik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Schetchik" nillable="true" type="tns:Schetchik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchetchik" nillable="true" type="tns:ArrayOfSchetchik" />
</xs:schema>